.container
  .row
    .col-md-12
      .page-header
        %h1 Edit article
  .row
    .col-md-12
      - if @article.errors.any?
        - @article.errors.full_messages.each do |msg|
          .alert.alert-warning
            = msg
  .row
    .col-md-12
      = bootstrap_form_for :article, url: article_path(@article), method: :patch do |f|
        %p
          = f.text_field :title
        %p
          = f.text_area :text
        %p
          = f.primary
