!!! 5
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => "/#"}
            %i.fa.fa-bullhorn
            Example-Ruby-Blog
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to '<i class="fa fa-plus-circle"></i> New Article'.html_safe,
              new_article_path
    .wrapper
      = yield
